CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

CONFIG_ESP_BRIDGE_PROVISIONING_PASSWORD="pslab-pico"
CONFIG_ESP_BRIDGE_DEST_IP="255.255.255.255"
CONFIG_ESP_BRIDGE_DEST_PORT=5005
CONFIG_ESP_BRIDGE_LOCAL_PORT=5006
CONFIG_ESP_BRIDGE_PIN_SCLK=4
CONFIG_ESP_BRIDGE_PIN_MOSI=5
CONFIG_ESP_BRIDGE_PIN_MISO=6
CONFIG_ESP_BRIDGE_PIN_CS=7
CONFIG_ESP_BRIDGE_PIN_READY=10
